@media(max-width: 730px){
    .pirvelicont{
        width: 100%;
    }
    .phasellus{
        width: 400px;
        height: 5px;
        margin-top: 0px;
        margin-left: 80px;
        
    }
    .artcopecity{
        width: 40%;
        height: 50px;
        margin-top: 0px;
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
    }
}