@media(max-width: 730px){
   
    /* nav{
        <i class="fa-solid fa-bars"></i>
    } */



    .first {
        width: 100%;
    }
    .firstext{
        /* border: 2px solid red; */
        margin: 170px auto 0 10px;;

    }
    .phototext{
        width: 430px;
    }
    .line1{
        width: 430px;
    }
    .p1{
        width: 425px;
    }
    .second{
        width: 100%;
    }
    .card {
        width: 45%;
    }
    .opac{
        width: 70%;
    }
  
    .twophoto{
        width: 100%;
    }

    .threephoto{
        display: none;
    }
    .three{
     display: flex;
     flex-wrap: wrap;
    }
    .sami{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
       
    }
    footer{
        width: 100%;
    }
    .icon{
        /* border: 2px solid red; */
        margin-bottom: 100px;
    }
    .none{
        display: none;
    }
}