@media(max-width: 730px){
   
    .first {
        width: 100%;
    }
    .second{
        width: 100%;
    }
    .card {
        width: 43%;
    }
    .opac{
        width: 70%;
    }
  
    .twophoto{
        width: 100%;
    }
    .threephoto{
        display: none;
    }
    .three{
     display: flex;
     flex-wrap: wrap;
    }
    .sami{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
       
    }
    footer{
        width: 100%;
    }
    .icon{
        /* border: 2px solid red; */
        margin-bottom: 100px;
    }
    .none{
        display: none;
    }
}