@media(max-width: 480px){
    .conteiner{
        width: 100%;
    }
    .photo1{
        width: 100%;
    }
    .cards{
        
       /* border: 2px solid red; */
       height: 650px;
       width: 100%;

    }
    
    .card {
      width: 100%;  
      height: 300px;
      
    }
    
    .opac{
        width: 100%;
       
    }
    
    
    .both{
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 360px;
    height: 650px;
}
    
    .twophoto{
       
        width: 100%;
       
    }
    .ftdiv1{
        display: none;
    }
    .ftphoto{
        display: none;
    }
   .icon{
   
    gap: 100px;
   }
}