.conteiner {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    background: #f6f8f9;
    /* border: 5px solid red; */
    /* position: fixed;
    z-index: 1; */
}
.logo{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    color: blue;
}
span:nth-child(1){
    animation: anime1 3s linear 1.5s infinite;
}
@keyframes anime1{
    100%{
        color: red;
    }
}
span:nth-child(2){
    animation: anime2 3s linear 2s infinite;
}
@keyframes anime2{
    100%{
        color: red;
    }
}
span:nth-child(3){
    animation: anime3 3s linear 2.5s infinite;
}
@keyframes anime3{
    100%{
        color: red;
    }
}
span:nth-child(4){
    animation: anime4 3s linear 3s infinite;
}
@keyframes anime4{
    100%{
        color: red;
    }
}

header {
    width: 100%;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 21px 19px 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 10px;
}

.home:hover {
    border-bottom: 3px solid red;
}

.opacity {
    opacity: 0.5;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
}

.first {
    width: 70%;
    height: 599px;
    /* border: 2px solid black; */
    background-color: white;
    position: relative;

}
/* .first:hover{
    transform: scale(30deg);
} */

.firstext {
    position: absolute;
    margin: 170px auto 0 140px;
}

.line1 {
    width: 562px;
    height: 2px;
    margin-top: 60px;
    background-color: #ffffff;
    border-radius: 20px;
    /* opacity: 0.5; */
}

.p1 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 40px;
}

.phototext {
    margin-top: 10px;
    color: #ffffff;
    width: 520px;
}

.pink {
    width: 134px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #d87093;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(360deg);
    transition-property: all;
    /* transition-delay: 1s; */
    transition-duration: 2s;

}
.pink:hover{
    cursor: pointer;
    background-color: rgb(171, 31, 241);
    transform: rotate(360deg);
    box-shadow: 5px 5px 10px #eb427b;
    
}

.pinktext {
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 10px;
}

.photo1 {
    width: 100%;
    height: 100%;
    position: absolute;
    transition-duration: 5s;
    transition-delay: 1s;
    
}
.photo1:hover{
    cursor: pointer;
    filter: grayscale(100%);
}

.second {
    width: 30%;
    height: 599px;
    /* border: 2px solid black; */
    background-color: white;

}

.contsecond {
    width: 80%;
    /* border: 2px solid black; */
    margin: 80px auto 0 auto;

}

h1 {
    font-size: 24px;
    font-weight: bold;

}

.line {
    width: 300px;
    height: 2px;
    border-radius: 20px;
    background-color: black;
    margin-top: 40px;
    opacity: 0.5;
}

.article {
    margin-top: 10px;
    font-weight: bold;
}

.red {
    margin-top: 40px;
    color: red;
}

.text1 {
    margin-top: 10px;
    opacity: 0.5;
}

.clock {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.5;
    margin-top: 10px;
    gap: 10px;
}

.section2 {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    /* border: 2px solid black; */
    margin-top: 40px;
}

.trending {
    font-weight: bold;
}

.cards {
    width: 100%;
    height: 350px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 30%;
    height: 350px;
    background-color: rgb(223, 221, 221);

}

.sectio2photo {
    width: 100%;
    /* transition-delay: 1s; */
    transition-duration: 3s;
    transition-timing-function: 2s;
    /* transform: scale(2.2); */
}
.sectio2photo:hover{
    cursor: pointer;
    filter: grayscale(100%);
    transform: scale(0.8);
}

.s2text {
    font-weight: bold;
}

.s2textopocity {
    width: 300px;
    height: 30px;
    margin: 50px auto 0 auto;
}

.opac {
    opacity: 0.5;
}

.section3 {
    width: 80%;
    /* height: 700px; */
    margin: 0 auto;
    /* border: 2px solid black; */
    margin-top: 40px;
}

.both {
    display: flex;
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
    width: 100%;
    height: 900px;
    margin-top: 19px;
    justify-content: space-between;


}

.twophoto {
    width: 65%;
    height: 100%;
    /* border: 2px solid rgb(26, 24, 24); */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 25px;
}

.pirveli2 {
    width: 100%;
    height: 48%;
    /* border: 2px solid rgb(26, 24, 24); */
    position: relative;

}

.ptext {
    position: absolute;
    top: 0;
    margin: 0 auto;
    color: #ffffff;
    padding: 40px 29px 80px 40px ;
}
.ptext2{
    margin-top: 150px;
}
.ptext3{
    font-size: 20px;
    font-weight: bold;
}
.two {
    width: 100%;
    height: 100%;
}

.threephoto {
    width: 29%;
    height: 90%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 58px;
}

.threetext {
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
}

.sami {
    /* border: 2px solid black; */
    width: 100%;
    height: 20%;

}

.three {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 200px;
    background-color: gray;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 56px 10%;

}

.footdiv{
    display: flex;
    gap: 50px;
}
.ftdiv1 {
    
    font-size: 15px;

}
.ftphoto{
    width: 40px;
    height: 20px;
}

.icon {
    display: flex;
    gap: 30px;
}

.secondeconteiner{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    background: #f6f8f9;
}
.section4{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #ffffff;

}
.pirvelicont{
    width: 50%;
    height: 500px;
    /* border: 2px solid black; */
    background-color: white;
    background-image: url(../photo/Image\ \(4\).png);
    position: relative;
}
.WORLDNEWS{
   padding: 230px 192px 230px 195px;
   font-size: 20px;
   color: #ffffff;
   font-weight: bold;
}
.meorecont{
    width: 50%;
    height: 500px;
    /* border: 2px solid black; */
    background-color: white; 
    padding: 145px 110px 0 110px;
    
}
.date{
    width: 360px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(212, 209, 209);
    margin-top: 10px;
}
.enterthe{
    margin-top: 60px;
}
.scontline{
    width: 80%;
    height: 2px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: black;
    margin-top: 40px;
    opacity: 0.5;
}
.article1{
    width: 80%;
    height: 225px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #ffffff; */
    background-image: url(../photo/avatar.svg);
    background-repeat: no-repeat;

}
.phasellus{
    width: 300px;
    height: 61px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
}
.artcopecity{
    width: 250px;
    height: 170px;
    margin-top: 10px;
    opacity: .5;
    margin-left: 50px;
}
.article2{
    width: 80%;
    height: 831px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.spilo{
    width: 100%;
    height: 500px;
}

.spilotext{
    width: 100%;
    opacity: .5;
    margin-top: 20px;
}
button{
    background-color: hsl(340, 57%, 64%, 0.5);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}
.submit{
    width: 130px;
    height: 40px;
    transition-duration: 2s;
    border-radius: 5px;

}
input[type=submit]{
    border: none;
    background-color: rgb(200, 23, 123);
    border-radius: 5px;
    width: 130px;
    height: 40px;
   color: #f6f8f9;
}
.submit:hover{
    cursor: pointer;
    box-shadow: 10px 10px 15px #eb427b; 
}
input[type=date]{
    width: 250px;
    height: 30px;
    background-color: rgb(246, 246, 246);
}
input[type=text]{
    width: 250px;
    height: 30px;
    background-color: rgb(246, 246, 246);
}

